name: Validar compilaci贸n con Docker Build y Bake

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
<<<<<<< HEAD
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Instalar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Validar compilaci贸n con docker/build
=======
      - name: Ь Clonar el repositorio
        uses: actions/checkout@v3

      - name:  Instalar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name:  Validar compilaci贸n con docker/build
>>>>>>> 5b87448 (Primer commit: configuraci贸n Docker y workflow)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          load: true
          tags: myapp:test
          push: false

      - name:  Validar con docker/bake
        run: |
          docker buildx bake --file docker-bake.hcl --no-cache
